// Variables
@import "variables";
@import "../../../node_modules/bulma/bulma";

li{
	margin-top:0.5em;
}

.has-space-under{
	margin-bottom: 1.25rem;
}

.is-hidden{
	display:hidden;
}

.hero-body{
	padding: 1.5rem 1.5rem;
}